<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/headcontent :: metaContent"></th:block>
    <th:block th:include="/headcontent :: titleContent"></th:block>
    <th:block th:include="/headcontent :: cssContent"></th:block>
    <th:block th:include="/headcontent :: javascriptContent"></th:block>
</head>
<body>
    <th:block th:include="/navigationcontent :: navigationContent"></th:block>

    <div class="container">
        <h4>The home page!</h4>
    </div>

</body>
</html>