<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resource Can't Be Found</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

</head>
<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <a th:href="@{/}"><h4>Back Home!</h4></a>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Resource Not Found!/h1>
                    <p th:text="${exception.getMessage()}"></p>
            </div>
        </div>
    </div>

</body>
</html>